.settings-page {
  display: flex;
  flex-direction: column;
  max-width: 840px;
  padding-bottom: 0;

  &::after {
    padding: 4px;
    content: '';
  }

  > :nth-last-child(2) {
    margin-bottom: 16px;
  }
}

.setting-page-title {
  margin: 0 0 8px 0;
}

.github-logo {
  align-self: center;
  width: 36px;
  height: 36px;
  padding: 8px;
  margin-top: auto;
  font-size: 0;
  line-height: 36px;
  background: url('/src/assets/svg/github.svg') no-repeat center;
  background-size: 36px 36px;
  opacity: .6;
  transition: opacity .2s, transform .5s;

  &:hover {
    opacity: 1;
    transform: translateY(-1px);
  }
}
