.settings-page {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
}

.setting-page-title {
  margin: 0 0 8px 0;
}

.setting-section {
  & + &::before {
    display: block;
    width: 100%;
    height: 1px;
    margin: 32px 0 16px 0;
    background: rgba(white, .3);
    content: '';
  }
}

.setting-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;

  & + & {
    margin-top: 16px;
  }
}

.setting-select-row {
  display: grid;
  grid-template-columns: auto 1fr;
}

.setting-select {
  max-width: 300px;
}

.setting-link {
  color: #8ab4f8;
}

.github-logo {
  align-self: center;
  width: 36px;
  height: 36px;
  margin-top: auto;
  padding: 8px;
  font-size: 0;
  background: url('/src/assets/svg/github.svg') no-repeat center;
  background-size: 36px 36px;
  opacity: .6;
  transition: opacity .2s, transform .5s;

  &:hover {
    transform: translateY(-1px);
    opacity: 1;
  }
}
