.news-info-bar-container {
  display: flex;
  font-size: 12px;
  opacity: .7;
}

.youtube-icon {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  background: url('/src/assets/svg/youtube.svg');
}
