.news-info-bar-container {
  display: grid;
  grid-template-columns: [youtube-icon] max-content [publication] minmax(auto, max-content) [time] max-content [dropdown] max-content;
  grid-gap: 0 4px;
  align-items: center;
  font-size: 12px;
  opacity: .7;
}

.youtube-icon {
  grid-column-start: youtube-icon;
  width: 18px;
  height: 18px;
  background: url('/src/assets/svg/youtube.svg');
}

.news-info-publication-icon {
  width: 14px;
  height: 14px;
  object-fit: contain;
}

.news-info-publication {
  grid-column-start: publication;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.news-info-time-ago {
  grid-column-start: time;
}

.news-info-dropdown {
  grid-column-start: dropdown;
}
