.nav-bar {
  display: flex;
  justify-content: end;
  margin: 16px 16px 0 0;
}

.nav-bar-link {
  display: inline-block;
  min-width: 80px;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  opacity: .7;
  transition: background-color .1s;

  &.router-link-active {
    font-weight: 500;
    opacity: 1;
  }

  &:hover {
    background-color: rgba(white, .1);
    opacity: 1;
  }
}
