body {
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  color: white;
  background-color: #202124;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.page-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(auto, 1000px);
  justify-content: center;
  width: 100%;
  height: 100%;
}

.page-content {
  padding: 16px 16px 32px 16px;
}
