body {
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  color: white;
  background-color: #202124;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.page-content {
  padding: 16px 16px 32px 16px;
}
