:root {
  color-scheme: dark;
}

body {
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  color: white;
  background-color: #202124;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.page-layout {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  width: 100%;
  height: 100%;
}

.page-content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  min-height: 100%;
}

.page-content {
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  padding: 16px 16px 32px 16px;
}
