.news-item-card {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px 16px;
  padding: 16px;
  border: 1px solid #5f6368;
  border-radius: 8px;

  & + & {
    margin-top: 8px;
  }
}

.news-link {
  &:hover {
    text-decoration: none;

    .news-title {
      text-decoration: underline;
    }
  }
}

.news-title {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

.related-news-list {
  margin-top: 8px;
}

.related-news-link {
  display: grid;
  grid-template-columns: auto 1fr;

  &::before {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 10px 10px 10px 4px;
    background: white;
    border-radius: 50%;
    content: '';
  }

  &:hover {
    text-decoration: none;

    .related-news-title {
      text-decoration: underline;
    }
  }

  & + & {
    margin-top: 8px;
  }
}

.related-news-title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
}

.news-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
