.news-item-card {
  padding: 16px;
  border: 1px solid #5f6368;
  border-radius: 8px;

  & + & {
    margin-top: 8px;
  }
}

.news-title {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

.related-news-container {
}

.related-news-title {
  padding: 0;
  font-weight: 500;
  font-size: 16px;
}
